#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
body {
  background-color: #000; /* fundo escuro */
  font-family: Arial, sans-serif;
  cursor: url('https://cdn-icons-png.flaticon.com/32/1384/1384063.png') 10 10, auto;
}

.post-container {
  margin: 100px auto;
  background-color: #000;
  border: 1px solid #262626;
  border-radius: 8px;
  width: 400px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* imagem do post */
.post-container img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

/* legenda */
.post-container p {
  color: #fff;
  font-size: 15px;
  padding: 12px 15px;
  margin: 0;
  text-align: left;
}

/* parte inferior (ícones) */
.post-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 15px 12px 15px;
}

.main-actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* contadores */
.main-actions p {
  color: #fff;
  margin: 0;
  font-size: 14px;
}

/* botões de ícone */
.icon-btn {
  background: none;
  border: none;
  padding: 0;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

/* ao passar o mouse */
.icon-btn:hover {
  opacity: 0.8;
  transform: scale(1.1);
}


















